.signup__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}
.registration__notice {
  display: none;
  &.active {
    position: fixed;
    top: 0px;
    background: red;
    color: white;
    width: 100%;
    height: 5rem;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
  }
}

.close__btn {
  position: relative;
  top: 1rem;
  right: 2rem;
  font-size: 2rem;
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  align-content: center;
  justify-content: center;
  background: #000;
  padding: 5px;
  font-family: "Montserrat";
}
