.input {
  label {
    font-size: 1.5rem;
    padding: 0 0 0 1rem;
  }
  p {
    font-size: 1rem;
  }
  font-family: "MontserratAlternates" !important;
  width: 30%;
  margin: 0.5rem auto !important;
  background-color: #fafafa;
  input {
    font-size: 2rem;
    &:after {
      font-size: 2rem !important;
    }
    &[type="date"] {
      font-size: 1.5rem;
      color: #737373;
      padding: 1rem;
    }
  }
  #contractdate-label {
    font-size: 2rem;
  }
}
