@import "../../styles/colors.scss";
.header {
  display: flex;
  position: relative;
  align-content: center;
  justify-content: center;
  background: $primary;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  margin-bottom: 2rem;

  menu {
    display: flex;
    padding: 0;
    li {
      display: flex;
      list-style: none;
      margin: 0 0.5rem;
      -webkit-tap-highlight-color: transparent;
      align-items: center;
      &:last-child {
        position: absolute;
        right: 0;
        .header__menu__item {
          background: none;
        }
      }
    }

    .header__menu__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: "MontserratAlternates";
      cursor: pointer;
      border-radius: 0.5rem;
      text-decoration: none;
      font-size: 1.2rem;
      padding: 1rem;
      color: $tertiary;
      background: $secondary;
      max-width: 10rem;
      text-align: center;

      svg {
        width: 3rem;
        fill: $tertiary;
        height: 3rem;
        margin-bottom: 0.5rem;
      }

      &.active {
        svg {
          fill: $white;
        }
        color: $white;
        background: $tertiary;
      }
      .header__menu__logout {
        line-height: 0;
      }
    }
  }
}

@media (max-width: 575.98px) {
  .header {
    menu {
      .header__menu__item {
        text-decoration: none;
        font-size: 1rem;
        color: $tertiary;
        padding: 0.5rem 1rem 0.5rem;
        max-width: 9rem;
      }
    }
  }
}
