.header {
  display: flex;
  position: relative;
  align-content: center;
  justify-content: center;
  background: #000;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  margin-bottom: 2rem;
  menu {
    display: flex;
    padding: 0;
    li {
      display: flex;
      list-style: none;
      padding: 1rem 3rem;
      border-radius: 0.5rem;
      margin: 0 0.5rem;
      background: rgb(94, 94, 94);
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
    }
    .header__menu__logout {
      line-height: 0;
    }
  }
}

@media (max-width: 575.98px) {
  .header__menu__item {
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    white-space: nowrap;
    line-height: 2rem;
  }
  .header menu li {
    padding: 0.5rem 1rem 0.5rem;
  }
  .header__menu__logout {
    line-height: 1rem;
  }
}
