.header {
  display: flex;
  position: relative;
  align-content: center;
  justify-content: center;
  background: #000;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  margin-bottom: 2rem;
  menu {
    display: flex;
    padding: 0;
    li {
      display: flex;
      list-style: none;
      padding: 1rem 3rem;
      border-radius: 0.5rem;
      margin: 0 0.5rem;
      background: rgb(94, 94, 94);
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
    }
  }
}
.header__logout {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  font-size: 1.5rem;
  a {
    color: #fff;
  }
}
