p {
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
  max-width: 100%;
  margin: auto;
}
span {
  font-size: 1.5rem;
}

.clientcard__wrapper {
  width: 80%;
  margin: 2rem auto;
  margin-bottom: 4rem;
  border: 1px solid #5e5e5e;
  border-radius: 1rem;
}

.clientcard__header {
  display: flex;
  justify-content: center;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding-bottom: 1rem;
}

.clientcard__header_name {
  display: flex;
  flex-direction: column;
  padding: 1rem 5rem;
  width: 50%;
  border-bottom: 1px solid #dcdcdc;
  &:first-child {
    border-top-left-radius: 1rem;
    border-right: 1px solid #dcdcdc;
  }
  &:last-child {
    border-top-right-radius: 1rem;
  }
}
.client__body {
  display: flex;
  flex-direction: column;
}
.client__body_bank {
  border-bottom: 1px solid #dcdcdc;
  margin: auto;
  padding: 0 15%;
  width: 100%;
  padding-bottom: 1rem;
}
.client__body_contract {
  border-bottom: 1px solid #dcdcdc;
  margin: auto;
  padding: 0 15%;
  width: 100%;
  padding-bottom: 1rem;
}

.client__footer_notice {
  background: #5e5e5e;
  color: #fff;
  padding-bottom: 1rem;
  &:last-child {
    border-bottom-left-radius: 0.9rem;
    border-bottom-right-radius: 0.9rem;
  }
}
