table {
  width: 100%;
  font-family: Montserrat;
  font-size: 1.2rem;
  margin: auto;
  padding: 2% 10%;
  text-align: right;
  td {
    padding: 0.2rem 1rem;
  }
  td,
  th {
    &:nth-child(2) {
      text-align: center;
    }
  }
  td,
  th {
    &:nth-child(3) {
      text-align: left;
    }
  }
  td,
  th {
    &:nth-child(4) {
      text-align: center;
    }
  }
  tbody {
    tr {
      &:nth-child(odd) {
        background: #e8e8e8;
        color: #000;
      }
    }
  }
}
.buttons {
  margin: 1rem auto !important;
}
