.link__wrapper,
.client__wrapper {
  text-align: center;
  margin-bottom: 1rem;
}

// .client__input {
//   padding: 2% 10%;
// }

// @media (max-width: 575.98px) {
//   .client__input {
//     padding: 2%;
//   }
// }
